*{
    box-sizing: border-box;
    margin: 0 auto;
}  


body{
    font-family: 'Bangers', cursive;
    margin: 10px;
    
}
h1{
    display: flex;
    justify-content: center;
    font-size: 100px;
    padding: 60px;
    margin: 10px;
}

h2{
    display:block;
    text-align: center;
    margin: 50px;
}
h3{
    outline-style: solid;
    margin: 20px;
    padding: 40px;
}

.column1, .column2, .column3, .column4, .column5{
    display: flex;
    flex-direction: column;
    margin: 0px;
    outline-style: solid;
    background-color: lightskyblue;
}

.gameboard{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}

.column1 a, .column2 a, .column3 a, .column4 a, .column5 a{
    outline-style: solid;
    color: black;
    margin: 50px;
    padding: 20px 30px;
    text-decoration: none;
}


.question{
    font-weight: 600;
}
.answers {
    margin-bottom: 20px;
}
#submit{
    font-family: sans-serif;
    font-size: 20px;
    background-color: #297;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
#submit:hover{
    background-color: #3a8;
}


