*{
    box-sizing: border-box;
    margin: 0 auto;
}  


body{
    font-family: 'Bangers', cursive;
    margin: 10px;
    
}
h1{
    display: flex;
    justify-content: center;
    font-size: 100px;
    padding: 60px;
    margin: 10px;
}

h2{
    display:block;
    text-align: center;
    margin: 50px;
}
h3{
    outline-style: solid;
    margin: 20px;
    padding: 40px;
}

.column1, .column2, .column3, .column4, .column5{
    display: flex;
    flex-direction: column;
    margin: 0px;
    outline-style: solid;
    background-color: lightskyblue;
}

.gameboard{
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}

.column1 a, .column2 a, .column3 a, .column4 a, .column5 a{
    outline-style: solid;
    color: black;
    margin: 50px;
    padding: 20px 30px;
    text-decoration: none;
}



#Q-C, #Q-C2, #Q-C3, #Q-C4, #Q-C5, #Q-C6, #Q-C7, #Q-C8, #Q-C9, #Q-C10, #Q-C11, #Q-C12, #Q-C13, #Q-C14, #Q-C15, #Q-C16{
    display:none;
    height: 200px;
    width: 50%;
    margin: 20px;
    background: green;

}


#Q-C.show, #Q-C2.show, #Q-C3.show, #Q-C4.show, #Q-C5.show, #Q-C6.show, #Q-C7.show, #Q-C8.show, #Q-C9.show, #Q-C10.show, #Q-C11.show, #Q-C12.show, #Q-C13.show, #Q-C14.show, #Q-C15.show, #Q-C16.show{
    display: block;
}

#Q-S, #Q-S2, #Q-S3, #Q-S4, #Q-S5, #Q-S6, #Q-S7, #Q-S8, #Q-S9, #Q-S10, #Q-S11, #Q-S12, #Q-S13, #Q-S14, #Q-S15, #Q-S16{
    text-align: center;
    font-size: 20px;
}
.button{
   display:flex;
   justify-content: center;
   align-items: center;
   padding: 50px;
   color: black;
}

.scoreboard{
    height:70px;
    width: 150px;
    background-color: #0055ff;
    margin-bottom: 30px;
    text-align: center;
    
    

}
button{
    display: flex;
    height:30px;
    width: 40px;
    padding: 30px;
}


   


    




