.column1, .column2, .column3, .column4, .column5{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.gameboard{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}



